@page "/login"
@layout MainLayout
@attribute [AllowAnonymous]

<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card p-4 shadow-lg rounded bg-transparent" style="max-width: 400px; width: 100%;">
        <h2 class="text-center mb-4 text-primary">@Localizer["Login"]</h2>
        <EditForm Model="loginModel" OnValidSubmit="Submit">
            <DataAnnotationsValidator />
            <div class="mb-3">
                <label for="eamil" class="form-label">@Localizer["Email"]</label>
                <input type="email" id="email" @bind="loginModel.Email" placeholder="@Localizer["Enter your email"]" class="form-control bg-transparent text-white" />
                <ValidationMessage For="@(() => loginModel.Email)" />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">@Localizer["Password"]</label>
                <input type="password" id="password" @bind="loginModel.Password" placeholder="@Localizer["Enter your email"]" class="form-control bg-transparent text-white" />
                <ValidationMessage For="@(() => loginModel.Password)" />    
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" id="rememberMe" @bind="loginModel.RememberMe" class="form-check-input" />
                <label for="rememberMe" class="form-check-label">@Localizer["Remember me"]</label>
            </div>

            <button type="submit" class="btn btn-primary w-100 shadow-sm mt-3">@Localizer["Login"]</button>
        </EditForm>
        <div class="text-center mt-4">
            <p class="mb-2">@Localizer["Don't have an account?"]</p>
            <button @onclick="NavigateToRegisterPage" class="btn btn-outline-secondary w-100 shadow-sm">@Localizer["Register here"]</button>
        </div>
    </div>
</div>

@if (ShowModal)
{
    <div class="modal fade show d-block" tabindex="-1" role="dialog" style="background-color: rgba(0,0,0,0.5);">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Login Info</h5>
                    <button type="button" class="btn-close" @onclick="CloseModal" aria-label="@Localizer["Close"]"></button>
                </div>
                <div class="modal-body">
                    <p>@ModalMessage</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @onclick="CloseModal">@Localizer["Close"]</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    private LoginModel loginModel = new LoginModel();
    private bool ShowModal { get; set; }
    private string ModalMessage { get; set; }


    public async Task Submit()
    {
        try
        {
            var response = await AuthenticationService.LoginAsync(loginModel.Email, loginModel.Password, loginModel.RememberMe);
            if (response.IsSuccessStatusCode)
            {
                var jsonResponse = await response.Content.ReadAsStringAsync();
                var jwtResponse = JsonSerializer.Deserialize<LoginResponse>(jsonResponse);
                string token = jwtResponse.Token;
            }
            ModalMessage = response.Content.ReadAsStringAsync().Result;
            ShowModal = true;
        }
        catch (Exception ex)
        {
            ModalMessage = $"Error: {ex.Message}";
            ShowModal = true;
        }
    }

    private void CloseModal()
    {
        ShowModal = false;
    }

    private void NavigateToRegisterPage()
    {
        NavigationManager.NavigateTo("/register");
    }
    [Inject] private ThemeChangingService ThemeChangingService { get; set; }
    [Inject] private HttpClient HttpClient { get; set; }
    [Inject] private NavigationManager NavigationManager { get; set; }
    [Inject] private IJSRuntime JSRuntime { get; set; }
    [Inject] private AuthenticationService AuthenticationService { get; set; }
    [Inject] private IStringLocalizer<AppResources> Localizer { get; set; }
}
