@page "/register"
@layout MainLayout
@using Microsoft.AspNetCore.Authorization
@attribute [AllowAnonymous]

<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card p-4 shadow-lg rounded bg-transparent" style="max-width: 500px; width: 100%;">
        <h2 class="text-center mb-4">@Localizer["Register"]</h2>
        <EditForm Model="registerModel" OnValidSubmit="Submit">
            <DataAnnotationsValidator />
            <div class="mb-3">
                <label for="firstname" class="form-label">@Localizer["First name"]</label>
                <input type="text" id="firstname" @bind="registerModel.FirstName" placeholder="@Localizer["Enter your first name"]" class="form-control bg-transparent text-white" />
            </div>
            <div class="mb-3">
                <label for="lastname" class="form-label">@Localizer["First name"]</label>
                <input type="text" id="lastname" @bind="registerModel.LastName" placeholder="@Localizer["Enter your last name"]" class="form-control bg-transparent text-white" />
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">@Localizer["Email address"]</label>
                <input type="email" id="email" @bind="registerModel.Email" placeholder="@Localizer["Enter your email address"]" class="form-control bg-transparent text-white" />
                <ValidationMessage For="@(() => registerModel.Email)" />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">@Localizer["Password"]</label>
                <input type="password" id="password" @bind="registerModel.Password" placeholder="@Localizer["Enter your password"]" class="form-control bg-transparent text-white" />
                <ValidationMessage For="@(() => registerModel.Password)" />
            </div>
            <div class="mb-3">
                <label for="confirmPassword" class="form-label">@Localizer["Confirm password"]</label>
                <input type="password" id="confirmPassword" @bind="ConfirmPassword" placeholder="@Localizer["Enter your password again"]" class="form-control bg-transparent text-white" />
            </div>
            <button type="submit" class="btn btn-primary w-100 shadow-sm">@Localizer["Register"]</button>
        </EditForm>

        <div class="text-center mt-4">
            <p class="mb-2">@Localizer["Already have an account?"]</p>
            <button @onclick="ToLogin" class="btn btn-outline-secondary w-100">@Localizer["Login here"]</button>
        </div>
    </div>
</div>

@if (ShowModal)
{
    <div class="modal fade show d-block" tabindex="-1" role="dialog" style="background-color: rgba(0,0,0,0.5);">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Register Info</h5>
                        <button type="button" class="btn-close" @onclick="CloseModal" aria-label="@Localizer["Close"]"></button>
                </div>
                <div class="modal-body">
                    <p>@ModalMessage</p>
                </div>
                <div class="modal-footer">
                        <button type="button" class="btn btn-primary" @onclick="CloseModal">@Localizer["Close"]</button>
                        <button type="button" class="btn btn-primary" @onclick="ToLogin">@Localizer["login"]</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    private RegisterModel registerModel = new RegisterModel();
    private bool ShowModal { get; set; }
    private string ModalMessage { get; set; }
    private string ConfirmPassword { get; set; }
    private async Task Submit()
    {
        if (registerModel.Password != ConfirmPassword)
        {
            ModalMessage = "Passwords do not match.";
            ShowModal = true;
            return;
        }

        var response = await AuthenticationService.RegisterAsync(registerModel);
        ModalMessage = await response.Content.ReadAsStringAsync();
        ShowModal = true;
    }

    private void CloseModal()
    {
        ShowModal = false;
        ModalMessage = "";
    }
    private void ToLogin()
    {
        NavigationManager.NavigateTo("/login");
    }
    [Inject] private IJSRuntime JSRuntime { get; set; }
    [Inject] private NavigationManager NavigationManager { get; set; }
    [Inject] private HttpClient HttpClient { get; set; }
    [Inject] private AuthenticationService AuthenticationService { get; set; }
    [Inject] private IStringLocalizer<AppResources> Localizer { get; set; }
}
